.cardlist-container {
    display: flex;
    flex-direction: column;
    width: 18rem;
    background: #E4E4E4;
    height: auto;
    border-radius: 5px;
    margin: 1rem 1rem 1rem 1rem;
    color: black;
}

.header-cardlist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 1rem;
}

.cardlist-hours{
    display: flex;
    align-items: center;
}

.label-cardlist-hours {
    margin-right: 0.5rem;
}



