.iconNot {
    color: black;
}

.notifications-container {
    display: flex;
    flex-direction: column;
    color: black;
}

.notifications-items {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    border: solid 1px black;
    padding: 1rem 0rem 1rem 0rem;
}

.notifications-onebyone{
    display: flex;
    flex-direction: column;
}